@charset "UTF-8";

/* 
calSub.jsp의 CSS 부분
*/
.subCalTitle {
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
}

.subCalMenuContent {
	position: absolute;
	width: 300px;
	height: 450px;
	border: 1px solid #7d7d7d;
	margin-top: 30px;
	margin-left: 30px;
}

#subCalAddImg {
	position: absolute;
	margin-top: 470px;
	margin-left: 30px;
}

.subCalIconDiv {
	position: absolute;
	margin-left: 350px;
	width: 400px;
	margin-top: 30px;
	height: 270px;
}

.subCalSelectDiv {
	position: absolute;
	width: 120px;
	height: 80px;
	border: 1px solid #c5c5c5;
	border-radius: 8px;
}

.subCalIconCheck {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.row2 {
	margin-top: 95px;
}

.row3 {
	margin-top: 190px;
}

.col2 {
	margin-left: 140px;
}

.col3 {
	margin-left: 280px;
}

.subCalIcon {
	position: absolute;
}

.subCalInputDiv {
	position: absolute;
	margin-left: 350px;
	width: 400px;
	height: 35px;
}

.subCalPrice {
	margin-top: 320px;
}

.subCalMenu {
	margin-top: 380px;
}

.subCalInputTitle {
	position: absolute;
	height: 100%;
	font-size: 24px;
}

.subCalInput {
	position: absolute;
	width: 250px;
	height: 80%;
	margin-left: 70px;
}

.subCalBtn {
	height: 50px;
	width: 70px;
	margin-top: 450px;
	float: right;
}

.remove {
	display: none;
	margin-right: 10px;
}

.change {
	display: none;
	margin-right: 10px;
}

.subCalMsg {
	position: absolute;
	font-size: 30px;
	margin-top: 530px;
	margin-left: 180px;
}

#FXT {
	width: 85px;
	height: inherit;
	margin-left: 15px;
	position: absolute;
}

#POP {
	width: 109px;
	margin-left: 5px;
	margin-top: 13px;
	position: absolute;
}

#PSC {
	width: 64px;
	margin-left: 28px;
	margin-top: 10px;
	position: absolute;
}

#POL {
	width: 80px;
	height: inherit;
	margin-left: 19px;
	position: absolute;
}

#LOV {
	width: 73px;
	height: inherit;
	margin-left: 19px;
	position: absolute;
}

#LTO {
	width: 72px;
	height: inherit;
	margin-left: 23px;
	position: absolute;
}

#OVO {
	width: 82px;
	height: inherit;
	margin-left: 13px;
	position: absolute;
}

#VGN {
	width: 99px;
	height: inherit;
	margin-left: 11px;
	margin-top: -10px;
	position: absolute;
}

#FTN {
	width: 79px;
	height: inherit;
	margin-left: 20px;
	position: absolute;
}
/* 
calendar.jsp의 CSS 부분
*/

.mainCalHeader{
	position:fixed;
	top:13%;
	color:#a651cb;
}

.mypageTitle{
	text-align:left;
	font-size: xx-large;
}

.mainCalTotal {
	width: 300px;
	height: 50px;
	margin-left: 450px;
}

.mainCalTotalTitle {
	margin-bottom:-10%;
	font-size: 13px;
	float: right;
}

.mainCalTotalSum {
	font-size: 20px;
	float: right;
	margin-right: 10px;
	margin-top: -4px;
}

.mainCalTable {
	position: fixed;
    top: 25%;
    left: 25%;
    width: 750px;
    border: 1px solid #ffdeaf;
    height: auto;
    border-spacing: 0px;
    background: #ffebce91;
}

.calendarTd {
	width: 225px;
	height: 120px;
}

.tdTitle {
	text-align: center;
	width: 225px;
	height: 40px;
	border:none;
}

.calInnerDiv {
	width: 70px;
	height: 70px;
	margin-top: 48px;
	float: right;
}